
<p> <strong>User Name: </strong> <%= user.name %> </p>

<%= image_tag(user.image.thumb.url, alt: 'image') if user.image? %>

<p> 
	<%= link_to 'edit', edit_user_path(user) %>
	<%= link_to 'show', user_path(user) %>
</p>
<br />