<h1>Show Post</h1>
<p>
	<strong> Post_Title: </strong>
	<%= @post.title %>
</p>
<p>
	<strong> Post_text: </strong>
	<%= @post.text %>
</p>
<P><%= link_to 'edit', edit_post_path(@post) %></P>
<p><%= link_to 'back', posts_path %></p>